# Ignora la carpeta node_modules
PSC/Tarea4/NodeJS/01.1_REQ-REP/node_modules/*
PSC/Tarea4/NodeJS/02.1_PUB_SUB/node_modules/*

PSC/Tarea4.2/NodeJS/01.1_REQ-REP/node_modules/*
PSC/Tarea4.2/NodeJS/02.1_PUB_SUB/node_modules/*